body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* header */
header {
    width: 100%;
    height: 52px;
    background-color: #1F2937;
}

.div_header {
    width: 1280px;
    height: 52px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 16px;
}
header h1 {
    font-size: 23.9px;
}
.div_a {
    display: flex;
    gap: 16px;
}
.div_a a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18.6px;
}
/* section */
/* ảnh */
.image {
    position: relative;
}
.image img {
    width: 100%;
    display: block;
}
.main_in_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
}
.main_in_image h1 {
    font-size: 50.1px;
    margin: 0;
}
.main_in_image p {
    font-size: 29.4px;
}
.main_in_image button {
    width: 194px;
    height: 44px;
    background-color: #2563EB;
    color: #FFFFFF;
    margin: 0 auto;
    border: none;
    border-radius: 8px;
    font-size: 19.8px;
    font-weight: 600;
}
/* main */
/* thẻ */




